@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

//colors
$dark_blue_700:#0d0d1d;
$dark_blue_500:#16213E;
$dark_blue_300:#0F3460;
$green_light_color:#4FBDBA;
$red_color:#E94560;
$purple_color_700:#2e0450;
$purple_color:#7d1fca;


//fonts
$Montserrat:'Montserrat', sans-serif;
$Metal:'Metal Mania', cursive;
$opensans:'Open Sans', sans-serif;

//breakpoints
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";


// @function gradientTest(){
//     background: $red_color;
//     background: -webkit-linear-gradient(to right, $red_color 3%, #4FBDBA 40%);
//     background: -moz-linear-gradient(to right, $red_color 3%, #4FBDBA 40%);
//     background: linear-gradient(to right, $red_color 3%, #4FBDBA 40%);
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
// }